@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



// Cores

// Cores padrão
    
$cor-cinza: #3B2D50;
$cor-preta: #000000;
$cor-branca: #FFFFFF;

// Cores destaques

$cor-principal: #7B0086;
$cor-secundaria: #1CC501;
$cor-secundaria: #3B2D50;

// Cores funcionais

$cor-alerta: #FF0000;
$cor-dourada: #EAC72C;

// Fontes

$fonte-principal: 'CloudyAurora', serif;
$fonte-secundaria: 'Poppins', sans-serif;






